.media
  .media-left
    = gravatar_for message.user
  .media-body
    %p
      %span.text-muted
        = message.user.name
        at
        = message.timestamp
        says
        %br
      = message.body
