.page-header
  %h1.text-center
    = @user.email
    navigation
%table.table
  %thead
    %th Date/time
    %th Url
  %tbody
    - @navigations.each do |navigation|
      %tr
        %td= navigation.created_at
        %td= navigation.url
%nav{'aria-label' => 'Page navigation', class: 'text-center'}
  = paginate @navigations
