= form_for :like, url: like_path(@picture, @like), method: 'delete', remote: true do |f|
  %input{type: 'image', src: "#{asset_path 'like.png'}", alt: 'Submit', width: '48', height: '48'}
  %span
    = @picture.likes.count
    = t('.like', count: @picture.likes.count)
