= form_for :like, url: likes_path(@picture), remote: true do |f|
  %input{type: 'image', src: "#{asset_path 'like_empty.png'}", alt: 'Submit', width: '48', height: '48'}
  %span
    = @picture.likes.count
    = t('.like', count: @picture.likes.count)
