New Picture for You
===============================================================================

We are glad to inform You, that we've added the new picture.
You can see it here:
= category_picture_url(@picture.category.category_name, @picture.id)

Thanks for watching and have a great day!