%hmtl
  %head
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    %h1 New Picture for You
    %p
      We are glad to inform You, that we've added the new picture.
      You can see it here:
      %a{href: @url}
        = @url
    %p Thanks for watching and have a great day!