/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Overwrite bootstrap variables */
@import "bootstrap_variables";

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


main {
  min-height: calc(100vh - 200px);
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}

#main-page-logo {
  margin-top: 30px;
  width: 138px;
  height: 138px;
  position: relative;
  .circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 1);
  }
  .right-arrow {
    left: 94px;
    width: 33px;
    position: absolute;
    top: 67px;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    height: 0 !important;
    min-height: 0 !important;
  }
  .left-arrow {
    left: 11px;
    width: 32px;
    position: absolute;
    top: 67px;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    height: 0 !important;
    min-height: 0 !important;
  }
  .svg-container {
    left: 30px;
    width: 80px;
    position: absolute;
    top: 30px;
    height: 78px;
    svg {
      stroke-width: 0px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      fill: #FFFFFF;
      fill-opacity: 1;
      stroke: transparent;
    }
  }
}

h1.logo-header {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 68px;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  font-feature-settings: normal;
  font-language-override: normal;
  font-kerning: auto;
  font-synthesis: weight style;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  color: #fff;
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}

/* Header */

.header {
  min-height: 80px;
  padding-top: 15px;
}

.navbar {
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar-brand {
  border-left: 3px solid #ffffff;
}

.navbar-text {
  @media (min-width: 0px) {
    margin-left: $navbar-padding-horizontal;
    margin-right: $navbar-padding-horizontal;
  }
}


/* Footer */

.footer {
  min-height: 120px;
  padding-top: 35px;
  background-image: image-url("bg-footer.jpg");
  background-size: 100%;
}

.social-img {
  margin-right: 13px;
  margin-bottom: 5px;
}


.thumbnail {
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-bottom: 50px;
}

.thumbnail:hover {
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
}

.image-holder {
	height: 180px;
    position: relative;
}

.image-category-holder {
  height: 200px;
  position: relative;
}

.image-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.65;
}

.image-holder-show {
	max-height: 500px;
	.img-responsive {
		max-height: 500px;
	}
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
	img {
		display: inline-block;
	}
}

.page-header {
	margin-top: 25px;
	margin-bottom: 25px;
	border-bottom: none;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}
