/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

/* Override bootstrap variables */

$brand-primary:         darken(#a5123e, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$body-bg: rgba(47, 46, 46, 1);
$text-color: #eee;
$link-color: $brand-primary;
$link-hover-color: lighten($link-color, 15%);
$link-hover-decoration: none;

$font-size-base: 13px;

$component-active-color: orange;
$component-active-bg: red;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


main {
  min-height: calc(100vh - 240px);
}

* {
  color: #ffffff;
}

.thumbnail {
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.thumbnail:hover {
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
}

.image-holder {
	height: 160px;
    position: relative;
}

.image-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.65;
}

.image-holder-show {
	max-height: 500px;
	.img-responsive {
		max-height: 500px;
	}
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
	img {
		display: inline-block;
	}
}

.page-header {
	margin-top: 50px;
	margin-bottom: 50px;
	border-bottom: none;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}


/* Header */

.header {
  min-height: 80px;
  //background-color: rgba(47, 46, 46, 1);
  padding-top: 15px;
}

.navbar {
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar-inverse {


}

.navbar-brand {
  border-left: 3px solid #ffffff;
}


/* Footer */

.footer {
  min-height: 160px;
  padding-top: 50px;
  //background-color: rgba(47, 46, 46, 1);

  background-image: url("bg-footer.jpg");
  background-size: 100%;
  //color: #6E6968;
}

.social-img {
  margin-right: 13px;
  margin-bottom: 5px;
}
