%h1.text-center Categories
%ul.nav.nav-pills.nav-justified
  - @categories.each do |category|
    %li{role: 'presentation'}
      = link_to category.category_name.capitalize, category_path(category.category_name)
