%footer.footer
  .container
    %p.text-center
      = image_tag('facebook.png', class: 'social-img')
      = image_tag('pinterest.png', class: 'social-img')
      = image_tag('instagram.png', class: 'social-img')
    %p.text-center
      %small &copy; 2017 by Volodymyr Stepanov