%header
  .row
    %nav.navbar.navbar-default
      .navbar-header
        %button{type: 'button', class: 'navbar-toggle collapsed', data: {toggle: 'collapse', target: '#bs-example-navbar-collapse-1'}, 'aria-expanded' => 'false'}
          %span.sr-only Main menu
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %div{class: 'collapse navbar-collapse', id: 'bs-example-navbar-collapse-1'}
        %ul.nav.navbar-nav
          %li
            = link_to 'Categories', categories_path
          %li
            = link_to 'Pictures', root_path
          %li
            %a{href: '#'}
              Comments
          %li
            %a{href: '#'}
              Events
